.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 200px;
}

.App-header-links {
  display: flex;
  flex-direction: column;
}

.App-header-links-link {
  color: white;
  margin: 20px 0;
  font-size: 20px;
  text-decoration: none;
}

.App-header-links-link:hover {
  color: #d7caca;
}

.App-header-links-link p {
  margin: 4px 0 0 0;
  font-size: 15px;
}

.App-link {
  color: #61dafb;
}
